<div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							<li id="dashboard"> 
								<a href="dashboard"><i class="fe fe-home"></i> <span>Dashboard</span></a>
							</li>
							<li class="menu-title"> 
								<span>Transactions</span>
							</li>
							<li id="requested-transactions"> 
								<a href="requested-transactions"><i class="fe fe-activity"></i> <span>Requested</span></a>
							</li>
							<li id="accepted-transactions"> 
								<a href="accepted-transactions"><i class="fe fe-activity"></i> <span>Accepted</span></a>
							</li>
							<li id="paid-transactions"> 
								<a href="paid-transactions"><i class="fe fe-activity"></i> <span>Paid</span></a>
							</li>
							<li id="completed-transactions"> 
								<a href="completed-transactions"><i class="fe fe-activity"></i> <span>Completed</span></a>
							</li>
							<li id="pro-paid-transactions"> 
								<a href="pro-paid-transactions"><i class="fe fe-activity"></i> <span>Pro-Paid</span></a>
							</li>
							<li class="menu-title"> 
								<span>Professionals</span>
							</li>
							<li id="active-professionals"> 
								<a href="active-professionals"><i class="fe fe-users"></i> <span>Active</span></a>
							</li>
							<li id="inactive-professionals"> 
								<a href="inactive-professionals"><i class="fe fe-users"></i> <span>Inactive</span></a>
							</li>
							
							<li class="menu-title"> 
								<span>Others</span>
							</li>
							<li id="services"> 
								<a href="services"><i class="fe fe-users"></i> <span>Services</span></a>
							</li>
							<li id="clients"> 
								<a href="clients"><i class="fe fe-user"></i> <span>Clients</span></a>
							</li>
							<li id="reviews"> 
								<a href="reviews"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
							</li>
							<li id="logout"> 
								<a href="#" onclick="signOut()"><i class="fe fe-user-plus"></i> <span>Log Out</span></a>
							</li>
							
							
						</ul>
					</div>
                </div>