<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a  href="#" class="booking-doc-img">
											<img id="user-profile-pic" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3 id="user-name"></h3>
											<div class="patient-details">
												<h5 id="user-email"> </h5>
												<h5 id="user-phone" class="mb-0"> </h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li id="client-requested-appt">
												<a href="client-requested-appt">
													<i class="fas fa-columns"></i>
													<span>Requested Appt</span>
												</a>
											</li>
											<li id="client-accepted-appt">
												<a href="client-accepted-appt">
													<i class="fas fa-columns"></i>
													<span>Accepted Appt</span>
												</a>
											</li>
											<li id="client-paid-appt">
												<a href="client-paid-appt">
													<i class="fas fa-columns"></i>
													<span>Paid Appt</span>
												</a>
											</li>
											<li id="client-completed-appt">
												<a href="client-completed-appt">
													<i class="fas fa-columns"></i>
													<span>Completed Appt</span>
												</a>
											</li>
											<li id="broadcasts">
												<a href="broadcast-offer">
													<i class="fas fa-user-cog"></i>
													<span>Job Offers</span>
												</a>
											</li>
											<li id="client-profile-settings">
												<a href="client-profile-settings">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<!--li id="change-password">
												<a href="change-password.html">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li-->
											<li>
												<a href="#" onclick="signOut()">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>