<div class="container-fluid p-3">
	<!-- footer logo -->
	<div class="row mb-3">
		<div class="col">
			<div class="footer-logo pl-5">
				<img
					src="assets/img/logo_footer.png"
					alt="logo"
					style="width: 100px; height: 80px;"
				/>
			</div>
		</div>
	</div>

	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 text-white">
		<div class="col">
			<div class="footer-contact-info">
				<div class="footer-address">
					<span><i class="fas fa-map-marker-alt"></i></span>
					<p>
						No. 2 3rd Link Chapel<br />Square, Sakumono <br />
						Accra - Ghana
					</p>
				</div>
				<div class="footer-address">
					<span><i class="fas fa-phone-alt"></i></span>
					<p>+233 (0)20 340 1158<br />+233 (0)24 276 1107</p>
				</div>
				<p class="mb-0">
					<i class="fas fa-envelope"></i>
					mail@locumprofessionalsgh.com
				</p>
			</div>
		</div>
		<div class="col">
			<h4 class="bold">About Us</h4>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a href="about#origin-of-locum">Origin of Locum</a>
				</li>
				<li class="list-group-item">
					<a href="about#how-it-works">How Locum Works</a>
				</li>
				<li class="list-group-item">
					<a href="about#msg-from-manager">A Message from The Manager</a>
				</li>
				<li class="list-group-item">
					<a href="about#clients">Our Clients</a>
				</li>
			</ul>
		</div>
		<div class="col">
			<h4 class="bold">Terms and Policies</h4>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a
						target="_blank"
						href="https://docs.google.com/document/d/1MZTxDNvX1Q9DvgdFj3gT_pN0G_bltFqOcz65Q5kW3Ys/edit?usp=sharing"
						><i class="fas fa-angle-double-right"></i> Terms of Service</a
					>
				</li>
				<li class="list-group-item">
					<a href="javascript:void(0)"
						><a
							target="_blank"
							href="https://docs.google.com/document/d/1nigpuXmgasl-PIqw84q36R4SeqTLTbaF-DmFEoNNmVM/edit?usp=sharing"
							><i class="fas fa-angle-double-right"></i> Privacy Policy</a
						></a
					>
				</li>
				<!--li class="list-group-item">
					<a target="_blank" href="#"
						><i class="fas fa-angle-double-right"></i> Copyright Policy</a
					>
				</li-->
			</ul>
		</div>
		<div class="col">
			<div class="footer-about-content">
				<div class="social-icon">
					<ul>
						<li>
							<a
								href="https://www.facebook.com/LocumProfessionals/"
								target="_blank"
								><i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/locum_pro" target="_blank"
								><i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a
								href="https://www.instagram.com/locum_pro/?hl=en"
								target="_blank"
								><i class="fab fa-instagram"></i
							></a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/locum-professionals" target="_blank"
								><i class="fab fa-linkedin"></i
							></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row justify-content-between text-white mt-3">
		<div class="col-md-4">
			<div class="copyright-text">
				<p class="mb-0">&copy; 2020 Locum. All rights reserved.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="copyright-menu" align="right">
				<ul class="policy-menu">
					<li>
						<a href="mailto:erasmus.odametey@kpaniconsults.com"
							>Structured by
							<img
								src="assets/img/Kpani_white_logo.png"
								alt="logo"
								style="width: 150px; height: 30px;"
						/></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
