<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/logo_header.jpg" class="img-fluid" alt="Logo" style="width:90px;height:70px;">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/l_logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li>
								<a href="index"><strong>Home</strong></a>
							</li>
							<li>
								<a href="about"><strong>About</strong></a>
							</li>
							<li>
								<a href="search" ><strong>Search Professionals</strong></a>
							</li>
							<li>
								<a href="services" ><strong>Services</strong></a>
							</li>
							<li>
								<a href="packages" ><strong>Packages</strong></a>
							</li>
							
						</ul>
					</div>		 
					<ul class="nav header-navbar-rht">
						
						<!-- User Menu -->
						<li class="nav-item" id="client-login-control">
							<a class="nav-link header-login" href="client-login">log in / Sign up As Client </a>
						</li>
						<li class="nav-item" id="pro-login-control">
							<a class="nav-link header-login" href="pro-login">log in / Sign up As Pro</a>
						</li>
						<li class="nav-item dropdown has-arrow logged-item" id="header-profile">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								<span class="user-img">
									<img class="rounded-circle"  width="31" alt="User Image" id="header-profile-pic-main">
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<img  alt="User Image" class="avatar-img rounded-circle" id="header-profile-pic-sub">
									</div>
									<div class="user-text">
										<h6 id="header-profile-name"></h6>
										<p class="text-muted mb-0" id="header-profile-email"></p>
									</div>
								</div>
								<a class="dropdown-item" id="header-dashboard" href="#">Dashboard</a>
								<a class="dropdown-item" id="header-settings" href="#">Profile Settings</a>
								<a class="dropdown-item" onclick="signOut()" href="#">Logout</a>
							</div>
						</li>
						<!-- /User Menu -->
						
					</ul>
				</nav>