<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img id="user-profile-pic" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3 id="user-name" ></h3>
											
											<div class="patient-details">
												<h5 id="user-email"> </h5>
												<h5 id="user-phone" class="mb-0"> </h5>
												<h5 id="user-status"><span class="badge badge-pill bg-danger-light">InActive Account</span> Contact Admin</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li id="pro-requested-appt">
												<a href="pro-requested-appt">
													<i class="fas fa-columns"></i>
													<span>Requested Appt</span>
												</a>
											</li>
											<li id="pro-accepted-appt">
												<a href="pro-accepted-appt">
													<i class="fas fa-columns"></i>
													<span>Accepted Appt</span>
												</a>
											</li>
											<li id="pro-paid-appt">
												<a href="pro-paid-appt">
													<i class="fas fa-columns"></i>
													<span>Paid Appt</span>
												</a>
											</li>
											<li id="pro-completed-appt">
												<a href="pro-completed-appt">
													<i class="fas fa-columns"></i>
													<span>Completed Appt</span>
												</a>
											</li>
											<!--li id="pro-invoices">
												<a href="pro-invoices">
													<i class="fas fa-file-invoice"></i>
													<span>Invoices</span>
												</a>
											</li-->
											<li id="pro-reviews">
												<a href="pro-reviews">
													<i class="fas fa-star"></i>
													<span>Reviews</span>
												</a>
											</li>
											<li id="pro-profile-settings">
												<a href="pro-profile-settings">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<!--li>
												<a href="#">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li-->
											<li>
												<a href="#" onclick="signOut()">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>